<body>

</body>


<template name="ApplicationLayout">



<!--   navbar.html-->
    {{> navbar}}

<!--    {{> profileBar}}-->
<div class="container" id="mainContainer">
    {{> header}}

<!--       Main container. insert content here-->
    {{> yield "viewContainer"}}

</div>

</template>


<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-info btn-block" id="login-buttons-profile">
        Profile
    </button>
</template>

<template name="header">

</template>

<template name="loading">
    <h1>Loading...</h1>
</template>
