<template name="usersView">
       <div class="row" id="usersCollectionDebug">
        {{> UsersCollectionDebug}}
    </div>
</template>

<template name="Users">
    {{> yield "users"}}
</template>


<!--DEBUG TEMPLATE DO NOT USE IN RELEASE-->

<template name="UsersCollectionDebug">
    {{#each usersList}}
        <p>
            <a href="/users/{{_id}}">
                <span>{{profile.name}}</span> - <span>{{_id}}</span>
            </a>
        </p>
    {{/each}}
</template>

<template name="SingleUser">
      <a href="/users">Back</a>
        <p>
            {{profile.name}}
        </p>
        {{#unless isFriend}}
            <button class="btn btn-success add-friend" value="{{_id}}">Add Friend</button>
        {{else}}
            <button class="btn btn-danger remove-friend" value="{{_id}}">Remove Friend</button>
        {{/unless}}

        {{> FriendsList}}

</template>
